@mixin makeColumnSystem($columns, $layout, $xGap:'', $yGap:'', $breakpoint: '') {

  // xyGap layout, |3%,4%|
  $xyGapLayout: '';
  @if ($xGap != '' and $yGap != '') {
    $yGapLayout: '';
    @if ($yGap != '') {
      $yGapLayout: ',' + $yGap;
    }

    $xyGapLayout: '(' + $xGap + $yGapLayout + ')';
  }


  // breakpoints [<=tablet]
  $breakpointLayout: '';
  @if ($breakpoint != '') {
    $breakpointLayout: '(' + $breakpoint + ')';
  }

    @if ($columns == 0) {
      @if ($breakpoint != '') {
        [class~="o-columns--(#{$layout})#{$breakpointLayout}"] {
          @include media($breakpoint) {
            @include perch('#{$layout}');
          }
        }
      }
      @else {
        [class~="o-columns--(#{$layout})#{$breakpointLayout}"] {
          @include perch('#{$layout}');
        }
      } 
    }

    @else {
      @if ($breakpoint != '') {
        @include media($breakpoint) {
          [class~="o-columns--#{$columns}-(#{$layout})#{$xyGapLayout}#{$breakpointLayout}"] {
            @include perch(#{$layout}, ('.o-columns__column': $columns), $xGap, $yGap);
          }
        }
      } 
      @else {
        [class~="o-columns--#{$columns}-(#{$layout})#{$xyGapLayout}"] {
          @include perch(#{$layout}, ('.o-columns__column': $columns), $xGap, $yGap);
        }
      }
    }
  }
